@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'Supermarket';
  src: url('/fonts/supermarket.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  color: var(--foreground);
  font-family: 'Supermarket', sans-serif;
}

.TT .splide__arrow.splide__arrow--prev {
  background: url('/images/arrow-left.svg') no-repeat center;
  width: 24px;
  height: 24px;
  top: -1.5rem !important;
}
.TT .splide__arrow.splide__arrow--next {
  background: url('/images/arrow-right.svg') no-repeat center;
  width: 24px;
  height: 24px;
  bottom: -1.5rem !important;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #F05A28 !important;
}
.splide__arrow svg{
  fill: #F05A28 !important;
}